fastapi
uvicorn
pydantic
python-multipart
pandas
joblib
torch
torchvision
pillow
numpy
keras
scikit-learn
huggingface-hub
PyPDF2
python-dotenv
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-together
tensorflow
